
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 20px;
    
}



.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}